<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h3 class="mb-3 ml-3" style="color: #5a6d79"> {{ current_user.user_name}} <i class="fa fa-user-circle mr-2"
                aria-hidden="true"></i>
        </h3>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="btn btn-info my-3 ml-3" href="{{ url_for('upload') }}">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile', id=current_user.id) }}">

                    My profile <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('lst', criteria='following') }}">I follow</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('lst', criteria='follower') }}">My followers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('edit_profile') }}"> Edit profile </a>
            </li>
            {% if current_user.is_admin %}
            <div class="dropdown-divider"></div>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flagged') }}"> Flagged Post <span
                        class="badge badge-success">Admin</span> </a></li>
            <li class="nav-item"><a class="nav-link" href="/admin"> Monitor <span
                        class="badge badge-success">Admin</span> </a></li>
            {% endif %} <br />
        </ul>
    </div>
</nav>