html,
body {
  height: 100%;
  padding: 0;
}

* {
  font-family: "Livvic", sans-serif;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar {
  width: 100%;
}

.navbar-brand {
  color: #5a6d79;
  font-family: "Chilanka", cursive;
}

.navbar .form-inline {
  margin-left: auto;
}

li {
  list-style-type: none;
}

li.post,
.flashes li {
  margin: 1rem;
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: grey;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


#main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header {
  color: #5a6d79;
  font-family: "Chilanka", cursive;
  margin: 2rem;
  text-align: center;
  text-transform: capitalize;
}


.card a {
  color: #a4a8d1;
}

.card a:hover {
  text-decoration: none;
}

.purple {
  color: #8c91c2 !important;
}

.card .even {
  background-color: #9ba0ad13;
}

#submit {
  background-color: #cdcfe5;
}

.card a.edit {
  color: #8cabbe !important;
}

.card a.edit:hover {
  color: #333f46 !important;
}

a.del {
  color: #333f46 !important;
}